{% extends "base.html.twig" %}
{% block body %}
    <h3><span class="bd-content-title">Upload file</span></h3>
    {{form_start(form)}}
    <div class="input-group mb-3">
        <div class="custom-file">
            {{form_widget(form.file)}}
            {{form_label(form.file)}}
        </div>
        <div class="input-group-append">
            {{form_row(form.add)}}
        </div>
    </div>
    {{form_end(form)}}
    <div class="centerText row">
    {% if winsResult is not empty %}
        <div class="col-md-5"></div>
        <table class="table col-md-2">
            <tbody>
                <tr>
                    <td>P1 wins</td>
                    <td>{{winsResult['p1win']}}</td>
                </tr>
                <tr>
                    <td>P2 wins</td>
                    <td>{{winsResult['p2win']}}</td>
                </tr>
                <tr>
                    <td>Draws</td>
                    <td>{{winsResult['draw']}}</td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-4"></div>
    {%endif%}
    </div>
    <div class="centerText">
        <a  href="/logout" class="btn btn-secondary">Logout</a>
    </div>
{% endblock %}
